/////////////////////////////daytime theme/////////////////////////////
////base colors:
$main-bg: #fff;


$main-text: #000;
$accent-text: #fff;
$hover-text: #2aece5;
$active-text: #fff;

$input-text: #000;
$input-field: #f0f0f0;

$accent-bg: #ab1131;
$accent-secondary-bg: #c41133;
$accent-active-bg: #f31140;
$accent-hover: #de113f;


$settings-btn: #000;
$settings-btn-hover: #fff;
$settings-btn-active-hover: #c41133;


$scroll-track: #ececec;
$scroll-thumb: #ff776f;


$menu-selected-list: #000;


$task-is-done: #d2d2d2;
$placeholder: #808080;
$safe-color: #95ff86;
$warning-color: #ff7c70;
$load-backup-purple: #9d9ce9;
$focus: #1e90ff;
$theme-selector-bg: #8cbcee;



///////////////////////////dark theme/////////////////////////////
$main-bg-dark: #2e363f;


$main-text-dark: #23bbb4;
$accent-text-dark: #23bbb4;
$active-text-dark: #2aece5;

$input-text-dark: #000;
$input-field-dark: rgba(255, 255, 255, .78);


$accent-bg-dark: #30475e;
$accent-secondary-bg-dark: #293a52;
$accent-active-bg-dark: #325777;
$accent-hover-dark: #3b6786;


$settings-btn-dark: #23bbb4;
$settings-btn-hover-dark: #2aece5;
$settings-btn-active-hover-dark: #2aece5;


$scroll-track-dark: #30475e;
$scroll-thumb-dark: #2aece5;


$menu-selected-list-dark: #2aece5;


$separator: #00000012;
$task-is-done-dark: #4c535c;
$placeholder-dark: #23bbb4;
$safe-color-dark: #77fffa;
$warning-color-dark: #ff6356;
$load-backup-purple-dark: #68a3e9;
$focus-dark: #2aece5;
$theme-selector-bg-dark: #30475e;
