@import 'fonts';
@import 'colors';

@mixin media-queries_1440-and-more {
  @media only screen and (min-width: 1440px) { @content; }
}

@mixin media-queries_1280-and-less {
  @media only screen and (max-width: 1280px) { @content; }
}

@mixin media-queries_1024-and-less {
  @media only screen and (max-width: 1024px) { @content; }
}

@mixin media-queries_768-and-less {
  @media only screen and (max-width: 768px) { @content; }
}

@mixin media-queries_480-and-less {
  @media only screen and (max-width: 480px) { @content; }
}

@mixin media-queries_320-and-less {
  @media only screen and (max-width: 320px) { @content; }
}

:root[data-theme="light-mode"] {
  //base colors:
  --main-bg: #{$main-bg};

  --main-text: #{$main-text};
  --accent-text: #{$accent-text};
  --active-text: #{$active-text};
  --input-text: #{$input-text};

  --accent-bg: #{$accent-bg};
  --accent-secondary-bg: #{$accent-secondary-bg};
  --accent-active-bg: #{$accent-active-bg};
  --accent-hover: #{$accent-hover};

  //action colors:
  --settings-btn: #{$settings-btn};
  --settings-btn-hover: #{$settings-btn-hover};
  --settings-btn-active-hover: #{$settings-btn-active-hover};

  --scroll-track: #{$scroll-track};
  --scroll-thumb: #{$scroll-thumb};

  --menu-selected-list: #{$menu-selected-list};

  --separator: #{$separator};
  --placeholder: #{$placeholder};
  --input-field: #{$input-field};
  --task-is-done: #{$task-is-done};
  --safe-color: #{$safe-color};
  --atention-color: #{$atention-color};
  --warning-color: #{$warning-color};
  --load-backup-purple: #{$load-backup-purple};
  --focus: #{$focus};
  --theme-selector-bg: #{$theme-selector-bg};
}

:root[data-theme="dark-mode"] {
  //base colors:
  --main-bg: #{$main-bg-dark};

  --main-text: #{$main-text-dark};
  --accent-text: #{$accent-text-dark};
  --active-text: #{$active-text-dark};
  --input-text: #{$input-text-dark};

  --accent-bg: #{$accent-bg-dark};
  --accent-secondary-bg: #{$accent-secondary-bg-dark};
  --accent-active-bg: #{$accent-active-bg-dark};
  --accent-hover: #{$accent-hover-dark};


  //action colors:
  --settings-btn: #{$settings-btn-dark};
  --settings-btn-hover: #{$settings-btn-hover-dark};
  --settings-btn-active-hover: #{$settings-btn-active-hover-dark};

  --scroll-track: #{$scroll-track-dark};
  --scroll-thumb: #{$scroll-thumb-dark};

  --menu-selected-list: #{$menu-selected-list-dark};

  --separator: #{$separator};
  --placeholder: #{$placeholder-dark};
  --input-field: #{$input-field-dark};
  --task-is-done: #{$task-is-done-dark};
  --safe-color: #{$safe-color-dark};
  --atention-color: #{$atention-color-dark};
  --warning-color: #{$warning-color-dark};
  --load-backup-purple: #{$load-backup-purple-dark};
  --focus: #{$focus-dark};
  --theme-selector-bg: #{$theme-selector-bg-dark};
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

body::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
}

.theme-selector[data-daytime-status*="mode"] {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  //margin: 15px;
  padding: 7px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  background-color: var(--theme-selector-bg);
}

.light-theme-icon {
  display: none;
}

.dark-theme-icon {
  display: none;
  fill: #fffd59;
}


//fonts
//Gudea-Regular
//Gudea-Italic
//Gudea-Bold

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
}

p,
h1,
h2,
input,
button {
  font-family: Gudea-Bold, sans-serif;
}

*:focus {
  border: 2px solid var(--focus);
  border-radius: 10px;
  outline: none;
}

.no-transition {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.main-wrapper {
  display: flex;
  height: 100vh;
}

@import 'menu/menu';
@import 'content/content';
@import 'content/apps/todo-list';
@import 'content/apps/timer';
@import 'content/apps/converter';
@import 'content/apps/calendar';
