.menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: var(--accent-secondary-bg);
  overflow: scroll; }
  .menu::-webkit-scrollbar {
    height: 0;
    width: 0; }
  .menu__space-holder {
    width: 300px;
    min-width: 300px; }
  .menu__tab {
    font-size: 35px;
    letter-spacing: 1px;
    width: 100%;
    height: 150px;
    margin: 0;
    cursor: pointer;
    user-select: none;
    color: var(--active-text);
    background-color: var(--accent-bg); }
    .menu__tab:hover {
      background-color: var(--accent-active-bg); }
    .menu__tab-header {
      position: absolute;
      top: 50px;
      width: 150px;
      margin: 0;
      padding: 0;
      text-align: center; }
  .menu__timer, .menu__calendar, .menu__converter, .menu__header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .menu__task-name-edit, .menu__task-remove {
    position: absolute;
    width: 25px;
    height: 25px; }
  .menu__list-name-hovered {
    background-color: var(--accent-bg) !important; }

.menu__todo-list {
  position: relative;
  transition: all .1s ease-out; }
  .menu__todo-list-heading {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .menu__todo-list-header {
    position: absolute;
    top: 50px;
    width: 150px;
    margin: 0; }
  .menu__todo-list-dropdown {
    position: absolute;
    top: 105px;
    width: 30px;
    height: 30px;
    fill: var(--active-text);
    transition: all .2s ease-out; }
  .menu__todo-list-names {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px; }
  .menu__todo-list-name, .menu__todo-list__add-new-list {
    font-size: 20px;
    width: 100%;
    padding: 3px 0;
    color: var(--accent-text);
    border: 0;
    outline: none;
    background-color: transparent; }
    .menu__todo-list-name:hover, .menu__todo-list__add-new-list:hover {
      background-color: var(--accent-hover); }
  .menu__todo-list-name {
    border-top: 1px solid var(--separator); }
    .menu__todo-list-name:hover {
      cursor: pointer; }
    .menu__todo-list-name--header {
      width: 200px;
      word-break: break-all;
      margin: 0 auto;
      border: 1px solid transparent; }
      .menu__todo-list-name--header:focus {
        cursor: text;
        border: 1px solid var(--focus);
        padding-left: 5px; }
    .menu__todo-list-name--list-create {
      margin: 0 auto;
      padding: 0;
      height: 30px;
      width: fit-content; }
  .menu__todo-list-name--active {
    font-size: 20px;
    width: 100%;
    padding: 3px 0;
    border: 0;
    outline: none;
    background-color: var(--main-bg);
    color: var(--menu-selected-list);
    cursor: cell; }
    .menu__todo-list-name--active:hover {
      background-color: var(--main-bg);
      cursor: auto; }
  .menu__todo-list__add-new-list:hover {
    cursor: pointer;
    background-color: var(--accent-hover); }
  .menu__todo-list__create-new-task--input {
    width: 200px;
    margin: 5px auto;
    height: 30px;
    font-size: 20px; }

.menu__list-settings--wrapper {
  margin: 20px 0 0; }
  .menu__list-settings--wrapper div {
    transition: none; }
  .menu__list-settings--wrapper p {
    font-family: Gudea-Regular, sans-serif;
    font-size: 15px;
    color: var(--settings-btn);
    padding: 5px 0 5px 20px;
    margin: 0;
    user-select: auto;
    cursor: auto; }
.menu__list-settings--controls {
  font-family: Gudea-Bold, sans-serif;
  font-size: 17px;
  width: fit-content;
  margin: 5px auto;
  border-bottom: 1px solid var(--main-bg); }
  .menu__list-settings--controls:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--focus); }
  .menu__list-settings--controls.edit-name {
    margin: 20px auto 5px; }
  .menu__list-settings--controls.remove-list:hover {
    color: var(--warning-color);
    border-bottom: 1px solid var(--accent-bg); }
.menu__list-settings__button {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  opacity: 90%;
  fill: var(--settings-btn); }
  .menu__list-settings__button:hover {
    fill: var(--settings-btn-hover); }

svg[data-button-parent-status="active"]:hover {
  fill: var(--settings-btn-active-hover); }

.task-name__already-used {
  font-size: 20px;
  position: absolute;
  width: 270px;
  background-color: var(--main-bg);
  text-align: center;
  z-index: 2;
  color: var(--main-text);
  border: 2px solid var(--accent-hover); }

.rotate180 {
  transform: rotate(-180deg); }

.active-tab {
  background-color: var(--accent-active-bg); }

/*# sourceMappingURL=menu.css.map */
