table[class^="table-rds-"] {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;

  td {
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  th {
    border: 1px solid #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 4px;
  }

  .rotate {
    width: auto;
    white-space: nowrap;
    padding: 0;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    //margin: 0 auto;
  }

  tbody {
    tr {
      mix-blend-mode: multiply;

      &:hover {
        background-color: rgba(79, 239, 153, 0.26);
        mix-blend-mode: multiply;
      }
    }

    tr:nth-child(1) {
      background-color: rgba(255, 215, 0, 0.55);
      //td:nth-child(1) {
      //  background-color: gold;
      //}
    }

    tr:nth-child(2) {
      background-color: rgba(211, 211, 211, 0.78);
      //td:nth-child(1) {
      //  background-color: lightgray;
      //}
    }

    tr:nth-child(3) {
      background-color: rgba(205, 127, 50, .63);
      //td:nth-child(1) {
      //  background-color: rgba(205, 127, 50, 0.78);
      //}
    }
  }

  .table {

    &-total-pts {
      background-color: rgba(79, 239, 153, .23);

      &_minus-one-worst {
        background-color: rgba(80, 235, 148, .81);
      }
    }

    &-stage-missed {
      background-color: rgba(196, 196, 196, .36);
      opacity: 60%;
    }

    &-qualification-failed {
      background-color: rgba(255, 20, 0, .64);
    }

    //&-qualification-failed ~ td {
    //  background-color: rgba(255, 20, 0, .64);
    //}


    &-column-colored {
      background-color: rgba(211, 231, 254, .49);

      &-accent {
        //background-color: rgba(80, 235, 148, .81);
      }
    }
  }
  [data-table-sort] {
    cursor: pointer;
    &:hover {
      background-color: rgba(30, 144, 255, 0.61);
      opacity: 80%;
    }
  }
}

tr > td {
  padding: 5px;
  min-width: 15px;
  min-height: 15px;
  text-align: center;
}
