.todo-list-wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 100px 0 400px;

  button {
    text-align: center;
    border: 0;
  }
}

.todo__list-name {
  border: 2px solid var(--main-bg);
  border-radius: 0;

  &:focus {
    border-bottom: 2px solid var(--focus);
  }
}

.tasks {

  &-section {
    position: relative;
    margin: 0 auto;
  }

  &-header {
    margin: 0;
    color: var(--main-text);
  }

  //&--list-name {
  //  color: darkslategrey;
  //}

  &-list {
    font-family: Gudea-Regular, sans-serif;
    font-size: 18px;
    padding-left: 50px;
    color: var(--main-text);

    li {
      //width: fit-content;
      margin-top: 10px;
      padding: 3px 15px 3px 2px;
      cursor: text;
      word-break: break-word;
      border-style: solid;

      border-color: var(--main-bg);
      border-top: 1px;
      border-right: 1px;
      border-bottom: 1px;
      border-left: 1px;
      border-radius: 5px;
      outline: none;

      &:focus {
        border-bottom: 1px solid var(--focus);
        border-radius: 0;
        outline: none;
      }
    }

    //li:focus {
    //  transition: .2s ease-in;
    //  outline: none;
    //  //background-color: rgba(238, 238, 238, 0.86);
    //  border: 1px solid rgba(238, 238, 238, .86);
    //}

    &--editing {
      //box-shadow: inset 0 0 0 1px $main-gray;
    }

    &--removing {
      transition: .2s ease-in;
      border-radius: 5px;
      box-shadow: inset 0 0 0 1px var(--warning-color);
    }
  }

  &-placeholder {
    font-family: Gudea-Italic, sans-serif;
    font-size: 18px;
    cursor: default;
    color: var(--placeholder);
  }

  &-input-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  &__input-field {
    font-family: Gudea-Bold, sans-serif;
    font-size: 16px;
    flex-grow: 1; //flex: 1 1;
    max-width: 100%;
    height: 37px;
    margin: 0 5px 0 0;
    padding: 0 10px;
    color: var(--input-text);
    border: 1px solid var(--main-bg);
    border-radius: 10px;
    background-color: var(--input-field);

    &:focus {
      border: 1px solid var(--focus);
    }

    &::placeholder {
      color: var(--input-text);
    }
  }

  &__submit-button {
    padding: 10px;
    background-color: var(--safe-color);
  }

  &__clear-button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--warning-color);
  }

  &__manual-backup-save-button {
    padding: 10px;
    background-color: var(--safe-color);
  }

  &__manual-backup-restore-button {
    padding: 10px;
    background-color: var(--load-backup-purple);
  }

  &__restore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 15px 10px 10px;
    background-color: var(--safe-color);

    &::before {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      content: url('../images/undo.svg');
      background-size: 20px 20px;
    }
  }

  &__mark-as-done-button {
    position: absolute;
    padding: 0 6px;
    border-radius: 10px;
  }

  &__remove-task-button {
    position: absolute;
    width: 18px;
    height: 18px;
    color: var(--settings-btn-dark);
    background-color: transparent;
    //margin-left: 100px;
  }

  &-edit {
    font-family: Gudea-Regular, sans-serif;
    font-size: 18px;
    outline: none;
  }
}

.task-is-done {
  text-decoration: line-through;
  color: var(--task-is-done);
}
