.content-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-left: 300px;

  padding: 15px;

}

.active-app {
  display: block;
}

.inactive-app {
  display: none;
}

.select-app {
  color: var(--main-text);
}
